<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sentinel.Test.EndToEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sentinel.Test.EndToEnd.Properties.Settings>
            <setting name="urlUnderTest" serializeAs="String">
                <value>https://localhost:58185</value>
            </setting>
            <setting name="targetBrowser" serializeAs="String">
                <value>chrome</value>
            </setting>
        </Sentinel.Test.EndToEnd.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="urlUnderTest" value="https://localhost:58185"/>
    <add key="targetBrowser" value="chrome"/>
  </appSettings>
</configuration>